---
import Layout from "../layouts/layout.astro";

const Blogs = await Astro.glob("./blog/*.md");
---

<Layout title="project-omikron">
    <div class="mx-auto max-w-xl px-10 sm:px-0">
        {
            Blogs.filter((c) => !c.frontmatter.hidden)
                .sort(
                    (p, c) =>
                        new Date(
                            p.frontmatter.date || new Date(Math.pow(1100, 5))
                        ).getTime() -
                        new Date(
                            c.frontmatter.date || new Date(Math.pow(1100, 5))
                        ).getTime()
                )
                .map(({ frontmatter, url }) => (
                    <a
                        rel="prefetch"
                        class="my-10 flex h-24 items-center rounded-xl border-[1px] border-white p-3 underline transition-shadow hover:shadow-2xl hover:shadow-indigo-500/40"
                        href={url}
                    >
                        <div class="flex-1">
                            <h4>{frontmatter.title}</h4>
                            <p class="text-white/80 decoration-white/80">
                                {frontmatter.description}
                            </p>
                        </div>
                        <div class="text-right text-white/60 underline decoration-white/60">
                            <p>
                                {!!frontmatter.date
                                    ? new Date(frontmatter.date)
                                          .toLocaleDateString("en-GB")
                                          .replaceAll("/", "-")
                                    : "Coming soon..."}
                            </p>
                            <object>
                                <a href={frontmatter.author_social} target="_blank">
                                    <p>{frontmatter.author_text}</p>
                                </a>
                            </object>
                        </div>
                    </a>
                ))
        }
    </div>
</Layout>
